body {
	background-color: green;
}

.border {
	border: 1px solid black;
}

.b-ikon {
	background-color: white;
	font-size: 17em;
}

.m-3 {
	margin: 2em 0 0 0;
}

.v-b-ikon {
	background-color: green;
	font-size: 25em;
}

.icon-cont {
	height: 25em;
   	position: relative;
}

.s-ikon {
	color: white;
 	font-size: 5em;
	margin: 0;
	position: absolute;   
 	text-align: center;           
  	top: 50%;                         
  	transform: translate(0, -50%);
}