$primary-color: white;
$secondary-color: black;


body {
	background-color: green;
	color: $primary-color;
}

.border {
	border: 1px solid black;
}

.b-ikon {
	background-color: silver;
	border: 3px solid black;
	color: $secondary-color;
	font-size: 15em;
	padding: 10px;
}

.m-3 {
	margin: 2em 0 0 0;
}

.v-b-ikon {
	background-color: green;
	color: $secondary-color;
	font-size: 25em;
}

.icon-cont {
	height: 25em;
   	position: relative;
}

.s-ikon {
	color: $primary-color;
 	font-size: 5em;
	margin: 0;
	position: absolute;   
 	text-align: center;           
  	top: 50%;                         
  	transform: translate(0, -50%);
}

.inline {
	display: inline;
}